<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectoryStructureToMarkdownLinks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DirectoryStructureToMarkdownLinks.Properties.Settings>
            <setting name="AutoCheckMaxDepth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReadmeNotificationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckInOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreDirs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>obj</string>
                        <string>bin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IgnoreFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>README.md</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DirectoryStructureToMarkdownLinks.Properties.Settings>
    </userSettings>
</configuration>